*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("table.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: aliceblue;
}

h1{
    font-weight: bold;
    color: goldenrod;
    margin-top: 2rem;
    margin-bottom: 20px;
}

#message{
    font-style: italic;
    /* font-weight: bold; */
}


button{
    width: 100px;
    margin: 2px auto;
    background-color: goldenrod;
    color: rgb(21, 112, 12);
    padding: 2px;
    font-weight: bold;
}

p{
    font-weight: bolder;
    margin: 5px auto;
}